@font-face {
    font-family: rockwell;
    src: url(../fonts/ROCK.TTF);
}
@font-face {
    font-family: rockwell;
    src: url(../fonts/ROCKB.TTF);
    font-weight: bold;
}
@font-face {
    font-family: test;
    src: url(../fonts/TEST.TTF);
}
body {
  font-family: rockwell;
}