.header__container {
  padding-top: 20px;
  padding-bottom: 20px;
  height: 95px;
  width: 100%;
  background-color: $color-alt;
  color: $color-white;

  a, a:link, a:active, a.active { color: $color-white; }
}

.header__brand {
  float: left;
  width: 480px;

  p {
    margin: 0;
  }

}
.header__brand--title {
  font-size: 28px;  
  font-weight: bold;
}

.header__brand--sub {
  font-size: 18px;

}

.header__navigation {
  width: 480px;
  float: left;
  text-align: right;
  font-size: 22px;
  font-weight: bold;
  margin-top: -8px;

  ul {
    list-style-type: none;

    li {
      display: inline-block;
    }

    li:not(:first-child) {
      &:before {
        content: '\2022';
        margin-left: 5px;
        margin-right: 10px;
      }
    }
  }
}

.content__container {
  width: 991px;
  margin-left: auto;
  margin-right: auto;
}