.frontpage__row--container {
  margin-left: 15px;
}

.frontpage__item--container {
  position: relative;
	float: left;
  height: 310px;  
  margin-right: 15px;
  margin-top: 15px;
  overflow: hidden;
/*
  &:hover {
    .frontpage__item--image, .frontpage__item--content {
      -webkit-transform: translateY(-50px);
      -moz-transform: translateY(-50px);
      -ms-transform: translateY(-50px);
      transform: translateY(-50px);      
    }
  }
*/
}

.frontpage__item--image, .frontpage__item--content, .frontpage__item--caption {
  -webkit-transition: -webkit-transform 0.4s;
  -moz-transition: -moz-transform 0.4s;
  transition: transform 0.4s;
}

.frontpage__item--image, .frontpage__item--content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.frontpage__item--image {
  z-index: 5;
}
.frontpage__item--content {
  z-index: 6;
}

.frontpage__item--headers {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.frontpage__item--headers--sub, .frontpage__item--headers--title {
  margin: 0;
  background-color: rgba($color-main-r,$color-main-g,$color-main-b,0.85);
  padding: 5px;
  padding-right: 7px;
  color: $color-white;
}

.frontpage__item--headers--sub {
  display: inline-block;
  font-size: 20px;
  padding-bottom: 0;
}

.frontpage__item--headers--title {
  font-weight: bold;
  font-size: 22px;
}

.frontpage__item--caption {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  padding: 7px 10px 7px 10px;
  background-color: $color-alt;
  color: $color-white;  
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.frontpage__breaking--container {
  width: 960px;

  .frontpage__item--headers {
    max-width: 60%;
  }

  .frontpage__item--headers--sub {
    font-size: 28px;
  }

  .frontpage__item--headers--title {
    font-size: 30px;
  }
}

.frontpage__hot--container {
  width: 635px;

  .frontpage__item--headers {
    max-width: 70%;
  }
}

.frontpage__default--container {
  width: 310px;
}

.frontpage__compact--container {
  width: 228px;
  margin-right: 16px;

  .frontpage__item--content {
    height: 228px;
  }
}

.frontpage__item--headers {
  max-width: 85%;
}

.frontpage__item--tags {
  height: 55px;
  width: 100%;
  position: absolute;
  bottom: 22px;
  overflow: hidden;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    display: inline-block;
    padding: 2px 5px 2px 5px;
    margin: 0 5px 5px 0;
    background-color: $color-alt;
    color: $color-white;
    font-size: 14px;
    line-height: 20px;
  }

}