.portfolio-item--page {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 620px;
}

.portfolio__item--headers--title {
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 42px;
  font-weight: bold;
}

.portfolio__item--headers--sub {
  margin-top: 0;
  font-size: 28px;
  font-weight: bold;
}

.portfolio__item--content {
  margin: 0;
  padding: 0 25px 0 25px;
}
