// Main green color
$color-main: rgb(103,147,102);
$color-main-r: 103;
$color-main-g: 147;
$color-main-b: 102;

$color-main-dark: rgb(56,101,55);

// Main grey color
$color-alt: rgb(62,62,62);

// Main misc. colors
$color-white: #fff;
