// Main green color
$color-main: rgb(103,147,102);
$color-main-r: 103;
$color-main-g: 147;
$color-main-b: 102;

$color-main-dark: rgb(56,101,55);

// Main grey color
$color-alt: rgb(62,62,62);
$color-alt-r: 62;
$color-alt-g: 62;
$color-alt-b: 62;

// Main misc. colors
$color-white: rgb(255,255,255);
$color-white-r: 255;
$color-white-g: 255;
$color-white-b: 255;